.root {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 2px;
}
.root___focusVisibleWithin {
  outline: none;
}
.root:focus-within {
  outline: none;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f5eff580;
  min-width: 0;
  border-radius: 16px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.contentisChecked {
  background: #fce8ef;
}
.mainCheck {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.mainCheck > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.mainCheck > :global(.__wab_flex-container) > *,
.mainCheck > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mainCheck > :global(.__wab_flex-container) > picture > img,
.mainCheck
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.left {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 16px;
}
.left > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.left > :global(.__wab_flex-container) > *,
.left > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.left > :global(.__wab_flex-container) > picture > img,
.left > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.leftisChecked {
  background: none;
}
.icon {
  display: flex;
  transition-property: all;
  transition-duration: 0.2s;
  align-items: center;
  justify-content: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}
.root .icon___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px var(--token-7ZwD4cy0QFxP);
  outline: none;
  border-radius: 2px;
}
.root:focus-within .icon {
  box-shadow: 0px 0px 0px 3px var(--token-7ZwD4cy0QFxP);
  outline: none;
  border-radius: 2px;
}
.svg__oqZda {
  position: relative;
  object-fit: cover;
  color: var(--token-9suY4y4xDfNB);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svgisChecked__oqZda5A53I {
  color: var(--token-0Wy7pzmpcU-V);
}
.svgisIndeterminate__oqZdatX2PB {
  color: var(--token-7ZwD4cy0QFxP);
}
.root .svg___focusVisibleWithin__oqZdaA7X7G {
  outline: none;
}
.root:focus-within .svg__oqZda {
  outline: none;
}
.root:hover .svg__oqZda {
  color: var(--token--UDwApq8o1vS);
}
.rootisDisabled:hover .svgisDisabled__oqZdapOlzw {
  color: #dbdbd7;
}
.rootisChecked:hover .svgisChecked__oqZda5A53I {
  color: var(--token-0Wy7pzmpcU-V);
}
.rootisIndeterminate:hover .svgisIndeterminate__oqZdatX2PB {
  color: var(--token--UDwApq8o1vS);
}
.svg___0IaqX {
  position: relative;
  object-fit: cover;
  color: var(--token-0Wy7pzmpcU-V);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.svgisDisabled___0IaqXpOlzw {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgisChecked___0IaqX5A53I {
  color: var(--token-0Wy7pzmpcU-V);
}
.svgisIndeterminate___0IaqXtX2PB {
  color: var(--token-7ZwD4cy0QFxP);
}
.root .svg___focusVisibleWithin___0IaqXa7X7G {
  outline: none;
}
.root:focus-within .svg___0IaqX {
  outline: none;
}
.root:hover .svg___0IaqX {
  color: var(--token--UDwApq8o1vS);
}
.rootisDisabled:hover .svgisDisabled___0IaqXpOlzw {
  color: #dbdbd7;
}
.rootisChecked:hover .svgisChecked___0IaqX5A53I {
  color: #0081f1;
}
.rootisIndeterminate:hover .svgisIndeterminate___0IaqXtX2PB {
  color: #0081f1;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.root .labelContainer___focusVisibleWithin {
  outline: none;
}
.root:focus-within .labelContainer {
  outline: none;
}
.slotTargetChildren {
  white-space: pre-wrap;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.freeBox__cCztp {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
.img {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin-top: calc(16px + 4px) !important;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}
.img > picture > img {
  object-fit: cover;
}
.imgisChecked {
  margin-top: calc(16px + 4px) !important;
}
