.mobileNavbarTiles8 {
  width: 53px;
  height: 53px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}
.mobileNavbarTiles8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.mobileNavbarTiles8 > :global(.__wab_flex-container) > *,
.mobileNavbarTiles8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mobileNavbarTiles8 > :global(.__wab_flex-container) > picture > img,
.mobileNavbarTiles8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.frame1437253920 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  cursor: pointer;
}
.frame1437253920 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame1437253920 > :global(.__wab_flex-container) > *,
.frame1437253920 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437253920 > :global(.__wab_flex-container) > picture > img,
.frame1437253920
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox {
  display: block;
  position: relative;
  width: 25px;
  height: 27px;
  flex-shrink: 0;
}
.frame1437254297 {
  transform: scale(1, -1) rotate(-180deg);
  width: auto;
  height: auto;
  display: flex;
  transform-origin: top left;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  left: 25px;
  top: 0px;
}
.freeBox__mA4Zn {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.freeBox__mA4Zn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.freeBox__mA4Zn > :global(.__wab_flex-container) > *,
.freeBox__mA4Zn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mA4Zn > :global(.__wab_flex-container) > picture > img,
.freeBox__mA4Zn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.freeBox__vTzz9 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__j1ITp {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__fJnMa {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__yi57Q {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.freeBox__yi57Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.freeBox__yi57Q > :global(.__wab_flex-container) > *,
.freeBox__yi57Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yi57Q > :global(.__wab_flex-container) > picture > img,
.freeBox__yi57Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.freeBox__t3W {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox___4Jll8 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__rOh3J {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__wcb1G {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.freeBox__wcb1G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.freeBox__wcb1G > :global(.__wab_flex-container) > *,
.freeBox__wcb1G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wcb1G > :global(.__wab_flex-container) > picture > img,
.freeBox__wcb1G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.freeBox__no5FI {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__wp5K2 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__r9Mzn {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.slotTargetChildren {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(117, 72, 117, 1);
  line-height: 100%;
  letter-spacing: 0em;
}
.frame29 {
  background: rgba(117, 72, 117, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
