.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-YwPjAZtamCbj);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-IYEXII5hK0q4);
  font-family: var(--token-J9wpIJtCkLFM);
  font-size: var(--token-20c9HFR-Gh_B);
  line-height: var(--token-5g9fE3Dv5uHA);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-CtPO11e2qzcK);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-kDrjPcfHm_hY);
  outline-offset: 1px;
  outline-color: var(--token-YwPjAZtamCbj);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-3K0GJG4u_e-V);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-gAJR0b9_UGkz);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-2bxaZQCOvPtZ);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-r3OUK55TMJoo);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-rxkg6PI0BSZn);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-H6rrobw2GJ-Q);
  font-size: var(--token-zBUyAg9N6xfB);
  column-gap: var(--token-kDrjPcfHm_hY);
  row-gap: 0px;
  border-radius: var(--token-F9gBCat1AH8U);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-zBUyAg9N6xfB);
  line-height: var(--token-H6rrobw2GJ-Q);
  column-gap: var(--token-F9gBCat1AH8U);
  row-gap: 0px;
  border-radius: var(--token-F9gBCat1AH8U);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-FAIyXe8OlNap);
  line-height: var(--token-HfyDDNh_It11);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-FAIyXe8OlNap);
  line-height: var(--token-HfyDDNh_It11);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-WvHGbWTISScZ);
  border-radius: var(--token-CtPO11e2qzcK);
}
.softBackgroundcolor_neutral {
  background: var(--token-cQfuQ0JeexLb);
}
.softBackgroundcolor_muted {
  background: var(--token-EinSdVEaXImS);
}
.softBackgroundcolor_success {
  background: var(--token-NEzYNyzVE8Sn);
}
.softBackgroundcolor_warning {
  background: var(--token-vQgM5cv3TJHR);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-1SL9DjOFLa16);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-CtPO11e2qzcK);
  border: 0px solid var(--token-pExpoA4Kggvp);
}
.bordercolor_neutral {
  border-color: var(--token-xlXOp0SI0zHt);
}
.bordercolor_muted {
  border-color: var(--token-S8Er2u7Z9l84);
}
.bordercolor_success {
  border-color: var(--token-_GOXItky5bms);
}
.bordercolor_warning {
  border-color: var(--token-Zi5Qk_mGmys5);
}
.bordercolor_errorDestructive {
  border-color: var(--token-VK-QeeNPpclG);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-CtPO11e2qzcK);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-DzQKTFVhoIco);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-5FHPQHPA0KTI);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-nCBGxIToHuoM);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___4HdZ8 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-CtPO11e2qzcK) var(--token-YDaSRKi1O8aE);
}
.freeBox___4HdZ8 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-CtPO11e2qzcK));
  width: calc(100% + var(--token-CtPO11e2qzcK));
}
.freeBox___4HdZ8 > :global(.__wab_flex-container) > *,
.freeBox___4HdZ8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4HdZ8 > :global(.__wab_flex-container) > picture > img,
.freeBox___4HdZ8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-CtPO11e2qzcK);
}
.freeBoxsize_extraSmall___4HdZ8ZMc7U {
  padding: var(--token-F9gBCat1AH8U) var(--token-CtPO11e2qzcK);
}
.freeBoxsize_small___4HdZ8GaKn7 {
  padding: var(--token-CtPO11e2qzcK) var(--token-IYEXII5hK0q4);
}
.freeBoxsize_large___4HdZ8DWep2 {
  padding-top: var(--token-F9gBCat1AH8U);
  padding-bottom: var(--token-F9gBCat1AH8U);
}
.freeBoxsize_extraLarge___4HdZ8Kgx7P {
  padding-left: var(--token-SR9PY8gpkNgs);
  padding-right: var(--token-SR9PY8gpkNgs);
}
.freeBoxroundedFull___4HdZ8Be4OE {
  padding-right: var(--token-SR9PY8gpkNgs);
  padding-left: var(--token-SR9PY8gpkNgs);
}
.freeBox__q767F {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__q767FeG0Gp {
  display: flex;
}
.slotTargetStart {
  color: var(--token-IktTY56G0QMR);
}
.slotTargetStartcolor_neutral {
  color: var(--token-b-BUXEgrLl5E);
}
.slotTargetStartcolor_muted {
  color: var(--token-cdIW2fr0acaB);
}
.slotTargetStartcolor_success {
  color: var(--token-NaG163l3rYWf);
}
.slotTargetStartcolor_warning {
  color: var(--token-MDIUHBT_UEOj);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-J6GzfoaB6Ccv);
}
.slotTargetStarttype_soft {
  color: var(--token--u4yMAG19xlK);
}
.slotTargetStarttype_bordered {
  color: var(--token--u4yMAG19xlK);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-zBUyAg9N6xfB);
}
.slotTargetStartsize_small {
  font-size: var(--token-zBUyAg9N6xfB);
}
.slotTargetStartsize_large {
  font-size: var(--token-FAIyXe8OlNap);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-FAIyXe8OlNap);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-csOoHbpIbhe-);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-csOoHbpIbhe-);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-h6yjYAdscT-0);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-h6yjYAdscT-0);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-eNwOg0A8Gils);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-eNwOg0A8Gils);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-X0Z6qa3RLERQ);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-X0Z6qa3RLERQ);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-B4wDpQUKpHiN);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-B4wDpQUKpHiN);
}
.svg__hziw4 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-IktTY56G0QMR);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-b-BUXEgrLl5E);
}
.slotTargetLabelcolor_muted {
  color: var(--token-cdIW2fr0acaB);
}
.slotTargetLabelcolor_success {
  color: var(--token-NaG163l3rYWf);
}
.slotTargetLabelcolor_warning {
  color: var(--token-MDIUHBT_UEOj);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-J6GzfoaB6Ccv);
}
.slotTargetLabeltype_soft {
  color: var(--token--u4yMAG19xlK);
}
.slotTargetLabeltype_bordered {
  color: var(--token--u4yMAG19xlK);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-csOoHbpIbhe-);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-h6yjYAdscT-0);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-csOoHbpIbhe-);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-eNwOg0A8Gils);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-h6yjYAdscT-0);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-X0Z6qa3RLERQ);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-eNwOg0A8Gils);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-B4wDpQUKpHiN);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-X0Z6qa3RLERQ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-B4wDpQUKpHiN);
}
.text__jclyL {
  white-space: pre;
}
.freeBox__tdl5I {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__tdl5Ighvzy {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-IktTY56G0QMR);
}
.slotTargetEndcolor_neutral {
  color: var(--token-b-BUXEgrLl5E);
}
.slotTargetEndcolor_muted {
  color: var(--token-cdIW2fr0acaB);
}
.slotTargetEndcolor_success {
  color: var(--token-NaG163l3rYWf);
}
.slotTargetEndcolor_warning {
  color: var(--token-MDIUHBT_UEOj);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-J6GzfoaB6Ccv);
}
.slotTargetEndtype_soft {
  color: var(--token--u4yMAG19xlK);
}
.slotTargetEndtype_bordered {
  color: var(--token--u4yMAG19xlK);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-zBUyAg9N6xfB);
}
.slotTargetEndsize_small {
  font-size: var(--token-zBUyAg9N6xfB);
}
.slotTargetEndsize_large {
  font-size: var(--token-FAIyXe8OlNap);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-FAIyXe8OlNap);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-csOoHbpIbhe-);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-csOoHbpIbhe-);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-h6yjYAdscT-0);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-h6yjYAdscT-0);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-eNwOg0A8Gils);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-eNwOg0A8Gils);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-X0Z6qa3RLERQ);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-X0Z6qa3RLERQ);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-B4wDpQUKpHiN);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-B4wDpQUKpHiN);
}
.svg__hluUz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
