.frame1437254343 {
  background: rgba(245, 239, 245, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}
.btmNavbarTile:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.phGridFourFill19 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill19 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill19 > :global(.__wab_flex-container) > *,
.phGridFourFill19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill19 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle74 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle75 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle76 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill20 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.phGridFourFill20 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill20 > :global(.__wab_flex-container) > *,
.phGridFourFill20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill20 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle77 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle78 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle79 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill21 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill21 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill21 > :global(.__wab_flex-container) > *,
.phGridFourFill21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill21 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle80 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle81 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle82 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.btmNavbarTile7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.phGridFourFill37 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill37 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill37 > :global(.__wab_flex-container) > *,
.phGridFourFill37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill37 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle128 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle129 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle130 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill38 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.phGridFourFill38 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill38 > :global(.__wab_flex-container) > *,
.phGridFourFill38 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill38 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill38
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle131 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle132 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle133 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill39 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill39 > :global(.__wab_flex-container) > *,
.phGridFourFill39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill39 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill39
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle134 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle135 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle136 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.btmNavbarTile6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.phGridFourFill34 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill34 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill34 > :global(.__wab_flex-container) > *,
.phGridFourFill34 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill34 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill34
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle119 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle120 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle121 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill35 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.phGridFourFill35 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill35 > :global(.__wab_flex-container) > *,
.phGridFourFill35 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill35 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill35
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle122 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle123 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle124 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill36 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill36 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill36 > :global(.__wab_flex-container) > *,
.phGridFourFill36 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill36 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill36
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle125 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle126 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle127 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.btmNavbarTile5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.phGridFourFill31 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill31 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill31 > :global(.__wab_flex-container) > *,
.phGridFourFill31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill31 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle110 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle111 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle112 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.phGridFourFill32 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill32 > :global(.__wab_flex-container) > *,
.phGridFourFill32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill32 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle113 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle114 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle115 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill33 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill33 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill33 > :global(.__wab_flex-container) > *,
.phGridFourFill33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill33 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill33
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle116 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle117 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle118 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.btmNavbarTile4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.phGridFourFill28 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill28 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill28 > :global(.__wab_flex-container) > *,
.phGridFourFill28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill28 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle101 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle102 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle103 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill29 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.phGridFourFill29 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill29 > :global(.__wab_flex-container) > *,
.phGridFourFill29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill29 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle104 {
  background: var(--token-Hm4gQBsa72mm);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle105 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle106 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill30 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill30 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill30 > :global(.__wab_flex-container) > *,
.phGridFourFill30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill30 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle107 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle108 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle109 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.btmNavbarTile3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.phGridFourFill25 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill25 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill25 > :global(.__wab_flex-container) > *,
.phGridFourFill25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill25 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle92 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle93 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle94 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill26 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.phGridFourFill26 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill26 > :global(.__wab_flex-container) > *,
.phGridFourFill26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill26 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle95 {
  background: var(--token-0PjPC8_C76gJ);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle96 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle97 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.phGridFourFill27 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.phGridFourFill27 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.phGridFourFill27 > :global(.__wab_flex-container) > *,
.phGridFourFill27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.phGridFourFill27 > :global(.__wab_flex-container) > picture > img,
.phGridFourFill27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.rectangle98 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle99 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.rectangle100 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.btmNavbarTile2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__r0VIk {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.freeBox__r0VIk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.freeBox__r0VIk > :global(.__wab_flex-container) > *,
.freeBox__r0VIk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r0VIk > :global(.__wab_flex-container) > picture > img,
.freeBox__r0VIk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.freeBox__oGmAq {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__bSfb3 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__aq6DQ {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__nOqnL {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.freeBox__nOqnL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.freeBox__nOqnL > :global(.__wab_flex-container) > *,
.freeBox__nOqnL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nOqnL > :global(.__wab_flex-container) > picture > img,
.freeBox__nOqnL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.freeBox__t4ImL {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__nTkcz {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox___2Asf {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__gNvbC {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 1px;
}
.freeBox__gNvbC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.freeBox__gNvbC > :global(.__wab_flex-container) > *,
.freeBox__gNvbC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gNvbC > :global(.__wab_flex-container) > picture > img,
.freeBox__gNvbC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.freeBox__cTgW {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox___2X2Ef {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
.freeBox__joOf1 {
  background: rgba(117, 72, 117, 1);
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 2px;
}
