.addEnd:global(.__wab_instance) {
  position: relative;
}
.svg__a8USe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-KofFAcidyhYp);
}
.text {
  padding-right: 0px;
}
.svg__jAzuS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-KofFAcidyhYp);
}
