@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Manrope%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-a-5gSY9adWcN: 1.25rem;
  --plasmic-token-size-20: var(--token-a-5gSY9adWcN);
  --token-tGxdC79NNHNR: #9ca3af;
  --plasmic-token-basic-ring: var(--token-tGxdC79NNHNR);
  --token-IRUAVcbWVb6f: #ffffff;
  --plasmic-token-unnamed-style-token-2: var(--token-IRUAVcbWVb6f);
  --token-dISOsPV3WaLF: var(--token-KofFAcidyhYp);
  --plasmic-token-purple-500: var(--token-dISOsPV3WaLF);
  --token-BUWct5qVX9sv: rgba(245, 239, 245, 1);
  --plasmic-token-purple-50: var(--token-BUWct5qVX9sv);
  --token-drcRJXIG0D8r: #ecdfec;
  --plasmic-token-purple-100: var(--token-drcRJXIG0D8r);
  --token-KofFAcidyhYp: rgba(95, 58, 95, 1);
  --plasmic-token-purple-700: var(--token-KofFAcidyhYp);
  --token-ZkfVES2bfpwc: #b181b1;
  --plasmic-token-purple-400: var(--token-ZkfVES2bfpwc);
  --token-MvmpflXfh-zQ: #7e4e7e;
  --plasmic-token-purple-600: var(--token-MvmpflXfh-zQ);
  --token-iNTbxKdJQ4o4: #f9f6f9;
  --plasmic-token-purple-25: var(--token-iNTbxKdJQ4o4);
  --token-VQU_URUpuDSx: rgba(63, 39, 63, 1);
  --plasmic-token-purple-800: var(--token-VQU_URUpuDSx);
  --token-jEHSAzUQD6q2: rgba(32, 19, 32, 1);
  --plasmic-token-purple-900: var(--token-jEHSAzUQD6q2);
  --token-nvduo5YZ8Xvr: rgba(197, 160, 197, 1);
  --plasmic-token-purple-300: var(--token-nvduo5YZ8Xvr);
  --token-iCvpvC0n19M6: rgba(216, 192, 216, 1);
  --plasmic-token-purple-200: var(--token-iCvpvC0n19M6);
  --token-GdBf0S_SBiPQ: #ea5886;
  --plasmic-token-pink-500: var(--token-GdBf0S_SBiPQ);
  --token-FH1EpKfmnNBX: rgba(252, 232, 239, 1);
  --plasmic-token-pink-50: var(--token-FH1EpKfmnNBX);
  --token-CLBc_j7L-w6x: rgba(249, 210, 222, 1);
  --plasmic-token-pink-100: var(--token-CLBc_j7L-w6x);
  --token-_AmC1SRUXP8j: rgba(244, 164, 189, 1);
  --plasmic-token-pink-200: var(--token-_AmC1SRUXP8j);
  --token-phFk8h2yU9sL: Inter;
  --plasmic-token-sifem-production-inter: var(--token-phFk8h2yU9sL);
  --token-UccAcvMe3QUi: 2rem;
  --plasmic-token-size-32: var(--token-UccAcvMe3QUi);
  --token-jyJnC9se6CRg: 1rem;
  --plasmic-token-size-16: var(--token-jyJnC9se6CRg);
  --token-NsWkyQ6bXBGk: 0.5rem;
  --plasmic-token-size-8: var(--token-NsWkyQ6bXBGk);
  --token-qHVRFvYBYHkg: #030712;
  --plasmic-token-basic-text-primary: var(--token-qHVRFvYBYHkg);
  --token-sYchVc0L-w7r: Inter;
  --plasmic-token-sans-serif: var(--token-sYchVc0L-w7r);
  --token-WbhLgNRgbphP: 1rem;
  --plasmic-token-font-md: var(--token-WbhLgNRgbphP);
  --token-B6X1DMeMQQi3: 1.25;
  --plasmic-token-line-height-md: var(--token-B6X1DMeMQQi3);
  --token-PbJVR-RRzCZY: #2563eb;
  --plasmic-token-brand-brand: var(--token-PbJVR-RRzCZY);
  --token-Sjz6B8DrdZ2-: 0.375rem;
  --plasmic-token-size-6: var(--token-Sjz6B8DrdZ2-);
  --token-AkQXMF8MKILZ: 0.25rem;
  --plasmic-token-size-4: var(--token-AkQXMF8MKILZ);
  --token-nSS5Uwuu0mf7: 0.75rem;
  --plasmic-token-font-sm: var(--token-nSS5Uwuu0mf7);
  --token-NnzI3H7JTNoC: 1;
  --plasmic-token-line-height-sm: var(--token-NnzI3H7JTNoC);
  --token-HTDiiV5z4AtB: 1.25rem;
  --plasmic-token-font-lg: var(--token-HTDiiV5z4AtB);
  --token-F833AgcNaVMg: 1.4;
  --plasmic-token-line-height-lg: var(--token-F833AgcNaVMg);
  --token-Vd27j6Ht4-yV: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-Vd27j6Ht4-yV);
  --token-0w8AAs9FOgDL: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-0w8AAs9FOgDL);
  --token-BArkO-InpcdJ: 0.625rem;
  --plasmic-token-size-10: var(--token-BArkO-InpcdJ);
  --token-U09nNsvq8pqw: #d1d5db;
  --plasmic-token-basic-border: var(--token-U09nNsvq8pqw);
  --token-3kOCCvbolFd5: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-3kOCCvbolFd5);
  --token-vE8sG4ZpVzJ1: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-vE8sG4ZpVzJ1);
  --token-0t1WuSGZYs9v: 0.125rem;
  --plasmic-token-size-2: var(--token-0t1WuSGZYs9v);
  --token-WvxOSEWSO4EM: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-WvxOSEWSO4EM);
  --token-0xJWPiVCrGW8: #ffffff;
  --plasmic-token-basic-container-background: var(--token-0xJWPiVCrGW8);
  --token-pgqYUbseR3xe: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-pgqYUbseR3xe);
  --token-sHBCzR28E2SE: 16px;
  --plasmic-token-medium-font-size: var(--token-sHBCzR28E2SE);
  --token-GskCEak5i6f_: 14px;
  --plasmic-token-small-font-size: var(--token-GskCEak5i6f_);
  --token-PU0HuwjCkVqc: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-PU0HuwjCkVqc);
  --token-_gtvcXEPF1DG: 1.5rem;
  --plasmic-token-size-24: var(--token-_gtvcXEPF1DG);
  --token-oziib5lvPkRh: 0.75rem;
  --plasmic-token-size-12: var(--token-oziib5lvPkRh);
  --token-KBqzRkF4zXFx: #374151;
  --plasmic-token-neutral-neutral: var(--token-KBqzRkF4zXFx);
  --token-sJy2GivAsmnJ: #6b7280;
  --plasmic-token-muted-muted: var(--token-sJy2GivAsmnJ);
  --token-9MCD45xukyzm: #16a34a;
  --plasmic-token-success-success: var(--token-9MCD45xukyzm);
  --token-LJ1InNSTlss9: #facc15;
  --plasmic-token-warning-warning: var(--token-LJ1InNSTlss9);
  --token-BuUeRS7_BcsW: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-BuUeRS7_BcsW);
  --token-493LERHuIu2O: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-493LERHuIu2O);
  --token-LX5j4jPcMbIw: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-LX5j4jPcMbIw);
  --token-QOMehAOZvW2f: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-QOMehAOZvW2f);
  --token-YePbsGYCH45h: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-YePbsGYCH45h);
  --token-70PtT3eznXpn: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-70PtT3eznXpn);
  --token-JLMGus6eD3xJ: #86efac;
  --plasmic-token-success-success-border: var(--token-JLMGus6eD3xJ);
  --token-LwqDMscDhk07: #fde047;
  --plasmic-token-warning-warning-border: var(--token-LwqDMscDhk07);
  --token-pFuHq4EyEt56: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-pFuHq4EyEt56);
  --token-YLOmDl9Aupuh: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-YLOmDl9Aupuh);
  --token-yvHCHu-_s5xi: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-yvHCHu-_s5xi);
  --token-EVeQSwx2Kc-M: #00000033;
  --plasmic-token-interaction-pressed: var(--token-EVeQSwx2Kc-M);
  --token-b4XYjI5osZA4: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-b4XYjI5osZA4);
  --token-bb7kIQOGft6L: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-bb7kIQOGft6L);
  --token-U0P-vG4aWaoT: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-U0P-vG4aWaoT);
  --token-UoPc0nmmu-9k: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-UoPc0nmmu-9k);
  --token-fMkWYboB8In0: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-fMkWYboB8In0);
  --token-pxOLO1NPSrLD: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-pxOLO1NPSrLD);
  --token-N5noQgdXjLP6: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-N5noQgdXjLP6);
  --token-UwR-sS0MQQQS: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-UwR-sS0MQQQS);
  --token-abx1pN4PpJjZ: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-abx1pN4PpJjZ);
  --token-bm-3OxvZnMBO: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-bm-3OxvZnMBO);
  --token-HUdHmjfXB-he: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-HUdHmjfXB-he);
  --token-xi0g7pIW71Ey: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-xi0g7pIW71Ey
  );
  --token-fd-qppYRLccb: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-fd-qppYRLccb);
}

.plasmic_tokens {
  --plsmc-standard-width: 100%;
  --plsmc-wide-width: 1080px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_locale_fr),
.plasmic_default_styles:where(.global_locale_en) {
  --mixin-81tkbjkJ5hJ0_font-family: "Inter", sans-serif;
  --mixin-81tkbjkJ5hJ0_font-size: 15px;
  --mixin-81tkbjkJ5hJ0_font-weight: 400;
  --mixin-81tkbjkJ5hJ0_font-style: normal;
  --mixin-81tkbjkJ5hJ0_color: var(--token-dISOsPV3WaLF);
  --mixin-81tkbjkJ5hJ0_text-align: left;
  --mixin-81tkbjkJ5hJ0_text-transform: none;
  --mixin-81tkbjkJ5hJ0_line-height: 1.5;
  --mixin-81tkbjkJ5hJ0_letter-spacing: normal;
  --mixin-81tkbjkJ5hJ0_white-space: pre-wrap;
  --mixin-81tkbjkJ5hJ0_user-select: text;
  --mixin-81tkbjkJ5hJ0_text-decoration-line: none;
  --mixin-81tkbjkJ5hJ0_text-overflow: clip;
  --mixin-NGgdSC8LFnU6_color: var(--token-dISOsPV3WaLF);
  --mixin-NGgdSC8LFnU6_font-weight: 700;
  --mixin-NGgdSC8LFnU6_font-size: var(--token-sHBCzR28E2SE);
  --mixin-NGgdSC8LFnU6_line-height: 1;
  --mixin-NGgdSC8LFnU6_letter-spacing: normal;
  --mixin-NGgdSC8LFnU6_text-transform: uppercase;
  --mixin-NGgdSC8LFnU6_white-space: pre-wrap;
  --mixin--dAbi3qN_wnl_color: #000000;
  --mixin--dAbi3qN_wnl_font-size: 48px;
  --mixin--dAbi3qN_wnl_font-weight: 700;
  --mixin--dAbi3qN_wnl_letter-spacing: -0.5px;
  --mixin--dAbi3qN_wnl_line-height: 1.1;
  --mixin--dAbi3qN_wnl_white-space: pre-wrap;
  --mixin-hGNMKNgm0D62_color: var(--token-ZkfVES2bfpwc);
  --mixin-hGNMKNgm0D62_font-size: var(--token-GskCEak5i6f_);
  --mixin-hGNMKNgm0D62_cursor: pointer;
  --mixin-hGNMKNgm0D62_white-space: pre-wrap;
  --mixin-QqOZQ6cVpOth_color: #000000;
  --mixin-QqOZQ6cVpOth_font-size: 32px;
  --mixin-QqOZQ6cVpOth_font-weight: 600;
  --mixin-QqOZQ6cVpOth_line-height: 1.2;
  --mixin-QqOZQ6cVpOth_white-space: pre-wrap;
  --mixin-y6XIsIbl4eMq_color: #000000;
  --mixin-y6XIsIbl4eMq_font-size: 24px;
  --mixin-y6XIsIbl4eMq_font-weight: 600;
  --mixin-y6XIsIbl4eMq_line-height: 1.3;
  --mixin-y6XIsIbl4eMq_white-space: pre-wrap;
  --mixin-zvroIA8-Xvjh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zvroIA8-Xvjh_border-bottom-color: #dddddd;
  --mixin-zvroIA8-Xvjh_border-bottom-style: solid;
  --mixin-zvroIA8-Xvjh_border-bottom-width: 1px;
  --mixin-zvroIA8-Xvjh_border-left-color: #dddddd;
  --mixin-zvroIA8-Xvjh_border-left-style: solid;
  --mixin-zvroIA8-Xvjh_border-left-width: 1px;
  --mixin-zvroIA8-Xvjh_border-right-color: #dddddd;
  --mixin-zvroIA8-Xvjh_border-right-style: solid;
  --mixin-zvroIA8-Xvjh_border-right-width: 1px;
  --mixin-zvroIA8-Xvjh_border-top-color: #dddddd;
  --mixin-zvroIA8-Xvjh_border-top-style: solid;
  --mixin-zvroIA8-Xvjh_border-top-width: 1px;
  --mixin-zvroIA8-Xvjh_border-bottom-left-radius: 3px;
  --mixin-zvroIA8-Xvjh_border-bottom-right-radius: 3px;
  --mixin-zvroIA8-Xvjh_border-top-left-radius: 3px;
  --mixin-zvroIA8-Xvjh_border-top-right-radius: 3px;
  --mixin-zvroIA8-Xvjh_font-family: "Inconsolata";
  --mixin-zvroIA8-Xvjh_padding-bottom: 1px;
  --mixin-zvroIA8-Xvjh_padding-left: 4px;
  --mixin-zvroIA8-Xvjh_padding-right: 4px;
  --mixin-zvroIA8-Xvjh_padding-top: 1px;
  --mixin-zvroIA8-Xvjh_white-space: pre-wrap;
  --mixin-JZnO2yK2smhT_border-left-color: #dddddd;
  --mixin-JZnO2yK2smhT_border-left-style: solid;
  --mixin-JZnO2yK2smhT_border-left-width: 3px;
  --mixin-JZnO2yK2smhT_color: #888888;
  --mixin-JZnO2yK2smhT_padding-left: 10px;
  --mixin-JZnO2yK2smhT_white-space: pre-wrap;
  --mixin-pZsONC4p-1RP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pZsONC4p-1RP_border-bottom-color: #dddddd;
  --mixin-pZsONC4p-1RP_border-bottom-style: solid;
  --mixin-pZsONC4p-1RP_border-bottom-width: 1px;
  --mixin-pZsONC4p-1RP_border-left-color: #dddddd;
  --mixin-pZsONC4p-1RP_border-left-style: solid;
  --mixin-pZsONC4p-1RP_border-left-width: 1px;
  --mixin-pZsONC4p-1RP_border-right-color: #dddddd;
  --mixin-pZsONC4p-1RP_border-right-style: solid;
  --mixin-pZsONC4p-1RP_border-right-width: 1px;
  --mixin-pZsONC4p-1RP_border-top-color: #dddddd;
  --mixin-pZsONC4p-1RP_border-top-style: solid;
  --mixin-pZsONC4p-1RP_border-top-width: 1px;
  --mixin-pZsONC4p-1RP_border-bottom-left-radius: 3px;
  --mixin-pZsONC4p-1RP_border-bottom-right-radius: 3px;
  --mixin-pZsONC4p-1RP_border-top-left-radius: 3px;
  --mixin-pZsONC4p-1RP_border-top-right-radius: 3px;
  --mixin-pZsONC4p-1RP_font-family: "Inconsolata";
  --mixin-pZsONC4p-1RP_padding-bottom: 3px;
  --mixin-pZsONC4p-1RP_padding-left: 6px;
  --mixin-pZsONC4p-1RP_padding-right: 6px;
  --mixin-pZsONC4p-1RP_padding-top: 3px;
  --mixin-pZsONC4p-1RP_white-space: pre-wrap;
  --mixin-Z5I4eVa7pV9v_display: flex;
  --mixin-Z5I4eVa7pV9v_flex-direction: column;
  --mixin-Z5I4eVa7pV9v_align-items: stretch;
  --mixin-Z5I4eVa7pV9v_justify-content: flex-start;
  --mixin-Z5I4eVa7pV9v_list-style-position: outside;
  --mixin-Z5I4eVa7pV9v_padding-left: 40px;
  --mixin-Z5I4eVa7pV9v_position: relative;
  --mixin-Z5I4eVa7pV9v_list-style-type: disc;
  --mixin-Z5I4eVa7pV9v_white-space: pre-wrap;
  --mixin-MNbvjRdtobbB_display: flex;
  --mixin-MNbvjRdtobbB_flex-direction: column;
  --mixin-MNbvjRdtobbB_align-items: stretch;
  --mixin-MNbvjRdtobbB_justify-content: flex-start;
  --mixin-MNbvjRdtobbB_list-style-position: outside;
  --mixin-MNbvjRdtobbB_padding-left: 40px;
  --mixin-MNbvjRdtobbB_position: relative;
  --mixin-MNbvjRdtobbB_list-style-type: decimal;
  --mixin-MNbvjRdtobbB_white-space: pre-wrap;
  --mixin-4XcrFBHgToeB_color: #000000;
  --mixin-4XcrFBHgToeB_font-size: 20px;
  --mixin-4XcrFBHgToeB_font-weight: 600;
  --mixin-4XcrFBHgToeB_line-height: 1.5;
  --mixin-4XcrFBHgToeB_white-space: pre-wrap;
  --mixin-glTAbSCFfghb_color: #000000;
  --mixin-glTAbSCFfghb_font-size: 16px;
  --mixin-glTAbSCFfghb_font-weight: 600;
  --mixin-glTAbSCFfghb_line-height: 1.5;
  --mixin-glTAbSCFfghb_white-space: pre-wrap;
  --mixin-bjz5Zm3KqCfF_color: #3291ff;
  --mixin-bjz5Zm3KqCfF_white-space: pre-wrap;
  --mixin-HGRsS51-n11G_white-space: pre-wrap;
  --mixin-ZNPu0ghaAoL-_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_locale_fr),
.plasmic_mixins:where(.global_locale_en) {
  --mixin-Hy-pnL96FJvL_white-space: pre-wrap;
  --plasmic-mixin-tab_white-space: var(--mixin-Hy-pnL96FJvL_white-space);
  --mixin-pLgbY2kEBcrd_white-space: pre-wrap;
  --plasmic-mixin-current_white-space: var(--mixin-pLgbY2kEBcrd_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-81tkbjkJ5hJ0_font-family);
  font-size: var(--mixin-81tkbjkJ5hJ0_font-size);
  font-weight: var(--mixin-81tkbjkJ5hJ0_font-weight);
  font-style: var(--mixin-81tkbjkJ5hJ0_font-style);
  color: var(--mixin-81tkbjkJ5hJ0_color);
  text-align: var(--mixin-81tkbjkJ5hJ0_text-align);
  text-transform: var(--mixin-81tkbjkJ5hJ0_text-transform);
  line-height: var(--mixin-81tkbjkJ5hJ0_line-height);
  letter-spacing: var(--mixin-81tkbjkJ5hJ0_letter-spacing);
  white-space: var(--mixin-81tkbjkJ5hJ0_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-NGgdSC8LFnU6_color);
  font-weight: var(--mixin-NGgdSC8LFnU6_font-weight);
  font-size: var(--mixin-NGgdSC8LFnU6_font-size);
  line-height: var(--mixin-NGgdSC8LFnU6_line-height);
  letter-spacing: var(--mixin-NGgdSC8LFnU6_letter-spacing);
  text-transform: var(--mixin-NGgdSC8LFnU6_text-transform);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin--dAbi3qN_wnl_color);
  font-size: var(--mixin--dAbi3qN_wnl_font-size);
  font-weight: var(--mixin--dAbi3qN_wnl_font-weight);
  letter-spacing: var(--mixin--dAbi3qN_wnl_letter-spacing);
  line-height: var(--mixin--dAbi3qN_wnl_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-hGNMKNgm0D62_color);
  font-size: var(--mixin-hGNMKNgm0D62_font-size);
  cursor: var(--mixin-hGNMKNgm0D62_cursor);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-QqOZQ6cVpOth_color);
  font-size: var(--mixin-QqOZQ6cVpOth_font-size);
  font-weight: var(--mixin-QqOZQ6cVpOth_font-weight);
  line-height: var(--mixin-QqOZQ6cVpOth_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-y6XIsIbl4eMq_color);
  font-size: var(--mixin-y6XIsIbl4eMq_font-size);
  font-weight: var(--mixin-y6XIsIbl4eMq_font-weight);
  line-height: var(--mixin-y6XIsIbl4eMq_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-zvroIA8-Xvjh_font-family);
  border-radius: var(--mixin-zvroIA8-Xvjh_border-top-left-radius)
    var(--mixin-zvroIA8-Xvjh_border-top-right-radius)
    var(--mixin-zvroIA8-Xvjh_border-bottom-right-radius)
    var(--mixin-zvroIA8-Xvjh_border-bottom-left-radius);
  padding: var(--mixin-zvroIA8-Xvjh_padding-top)
    var(--mixin-zvroIA8-Xvjh_padding-right)
    var(--mixin-zvroIA8-Xvjh_padding-bottom)
    var(--mixin-zvroIA8-Xvjh_padding-left);
  border-top: var(--mixin-zvroIA8-Xvjh_border-top-width)
    var(--mixin-zvroIA8-Xvjh_border-top-style)
    var(--mixin-zvroIA8-Xvjh_border-top-color);
  border-right: var(--mixin-zvroIA8-Xvjh_border-right-width)
    var(--mixin-zvroIA8-Xvjh_border-right-style)
    var(--mixin-zvroIA8-Xvjh_border-right-color);
  border-bottom: var(--mixin-zvroIA8-Xvjh_border-bottom-width)
    var(--mixin-zvroIA8-Xvjh_border-bottom-style)
    var(--mixin-zvroIA8-Xvjh_border-bottom-color);
  border-left: var(--mixin-zvroIA8-Xvjh_border-left-width)
    var(--mixin-zvroIA8-Xvjh_border-left-style)
    var(--mixin-zvroIA8-Xvjh_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-JZnO2yK2smhT_color);
  padding-left: var(--mixin-JZnO2yK2smhT_padding-left);
  border-left: var(--mixin-JZnO2yK2smhT_border-left-width)
    var(--mixin-JZnO2yK2smhT_border-left-style)
    var(--mixin-JZnO2yK2smhT_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pZsONC4p-1RP_font-family);
  border-radius: var(--mixin-pZsONC4p-1RP_border-top-left-radius)
    var(--mixin-pZsONC4p-1RP_border-top-right-radius)
    var(--mixin-pZsONC4p-1RP_border-bottom-right-radius)
    var(--mixin-pZsONC4p-1RP_border-bottom-left-radius);
  padding: var(--mixin-pZsONC4p-1RP_padding-top)
    var(--mixin-pZsONC4p-1RP_padding-right)
    var(--mixin-pZsONC4p-1RP_padding-bottom)
    var(--mixin-pZsONC4p-1RP_padding-left);
  border-top: var(--mixin-pZsONC4p-1RP_border-top-width)
    var(--mixin-pZsONC4p-1RP_border-top-style)
    var(--mixin-pZsONC4p-1RP_border-top-color);
  border-right: var(--mixin-pZsONC4p-1RP_border-right-width)
    var(--mixin-pZsONC4p-1RP_border-right-style)
    var(--mixin-pZsONC4p-1RP_border-right-color);
  border-bottom: var(--mixin-pZsONC4p-1RP_border-bottom-width)
    var(--mixin-pZsONC4p-1RP_border-bottom-style)
    var(--mixin-pZsONC4p-1RP_border-bottom-color);
  border-left: var(--mixin-pZsONC4p-1RP_border-left-width)
    var(--mixin-pZsONC4p-1RP_border-left-style)
    var(--mixin-pZsONC4p-1RP_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Z5I4eVa7pV9v_display);
  flex-direction: var(--mixin-Z5I4eVa7pV9v_flex-direction);
  align-items: var(--mixin-Z5I4eVa7pV9v_align-items);
  justify-content: var(--mixin-Z5I4eVa7pV9v_justify-content);
  list-style-position: var(--mixin-Z5I4eVa7pV9v_list-style-position);
  padding-left: var(--mixin-Z5I4eVa7pV9v_padding-left);
  position: var(--mixin-Z5I4eVa7pV9v_position);
  list-style-type: var(--mixin-Z5I4eVa7pV9v_list-style-type);
  flex-column-gap: var(--mixin-Z5I4eVa7pV9v_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-MNbvjRdtobbB_display);
  flex-direction: var(--mixin-MNbvjRdtobbB_flex-direction);
  align-items: var(--mixin-MNbvjRdtobbB_align-items);
  justify-content: var(--mixin-MNbvjRdtobbB_justify-content);
  list-style-position: var(--mixin-MNbvjRdtobbB_list-style-position);
  padding-left: var(--mixin-MNbvjRdtobbB_padding-left);
  position: var(--mixin-MNbvjRdtobbB_position);
  list-style-type: var(--mixin-MNbvjRdtobbB_list-style-type);
  flex-column-gap: var(--mixin-MNbvjRdtobbB_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-4XcrFBHgToeB_color);
  font-size: var(--mixin-4XcrFBHgToeB_font-size);
  font-weight: var(--mixin-4XcrFBHgToeB_font-weight);
  line-height: var(--mixin-4XcrFBHgToeB_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-glTAbSCFfghb_color);
  font-size: var(--mixin-glTAbSCFfghb_font-size);
  font-weight: var(--mixin-glTAbSCFfghb_font-weight);
  line-height: var(--mixin-glTAbSCFfghb_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bjz5Zm3KqCfF_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
