.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.main {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: flex-start;
  align-items: stretch;
  justify-self: center;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: auto;
  width: 100%;
  max-width: 1080px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.navbar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
}
.svg__aNbSh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-KofFAcidyhYp);
}
.svg__dG1EJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-KofFAcidyhYp);
}
.input {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 16px;
}
.input > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.input > :global(.__wab_flex-container) > *,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.input > :global(.__wab_flex-container) > picture > img,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.faq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.faq > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.faq > :global(.__wab_flex-container) > *,
.faq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.faq > :global(.__wab_flex-container) > picture > img,
.faq > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 4px;
}
.title {
  background: rgba(245, 239, 245, 0.5);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 16px;
}
.root .title:hover {
  background: #f5eff5cc;
}
.password {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(95, 58, 95, 1);
  position: relative;
}
.svg___9VlN {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__scUv {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.content {
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.password2 {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 21.857240676879883px;
  color: rgba(95, 58, 95, 1);
  position: relative;
}
