.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__sRrBs {
  position: relative;
  height: 1em;
}
.svg__hoUkc {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-k2ZT43jTSB-k);
  display: block;
  color: var(--token-dNXPU-KSyPvU);
  font-family: var(--token-CY6agac5Ue4P);
  font-size: var(--token-WfRlPBZ8MZoH);
  line-height: var(--token-DfV6jN3t_rVM);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-bCXz-hov-sS_);
}
.pcls_5ImJYulol-zF {
  background: var(--token-wI5BW0ePNzkq);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__khNxu {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-dXIzYFIz4hck);
  min-width: 0;
  padding: var(--token---vVnGkky0f8);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token---vVnGkky0f8);
  padding-right: var(--token---vVnGkky0f8);
}
.freeBox__s7RD8 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__s7RD8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-SDWM6dMdXG7N));
  height: calc(100% + var(--token-SDWM6dMdXG7N));
}
.freeBox__s7RD8 > :global(.__wab_flex-container) > *,
.freeBox__s7RD8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7RD8 > :global(.__wab_flex-container) > picture > img,
.freeBox__s7RD8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-SDWM6dMdXG7N);
}
.text__yr6Hz {
  position: relative;
}
.freeBox__aQbj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token---vVnGkky0f8);
}
.svg__k1Nwc {
  position: relative;
  height: 1em;
}
.text__gcGdd {
  padding-left: 0px;
}
.svg__lhVdg {
  position: relative;
  height: 1em;
}
