.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-k2ZT43jTSB-k);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-OstdRf2wrNys);
  width: var(--token-OstdRf2wrNys);
  border-radius: 99px;
  border: 1px solid var(--token-IH_uOz3on1I8);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-IH_uOz3on1I8);
  outline-offset: 1px;
}
