.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-IH_uOz3on1I8);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-45c67d3dhh74);
  font-family: var(--token-CY6agac5Ue4P);
  font-size: var(--token-WfRlPBZ8MZoH);
  line-height: var(--token-DfV6jN3t_rVM);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-qdcu4nmFcQwX);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-4KHAOpqgh6Sk);
  outline-offset: 1px;
  outline-color: var(--token-IH_uOz3on1I8);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-2ZQBD4kPJE2o);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-MzhCqKDcXO81);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-d8OGRP3k2Z0P);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-gcgMfjMWz6wT);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-chDfjOZrkCd2);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-CIfkGH6FyOef);
  font-size: var(--token-a8sx5jtqOZlH);
  column-gap: var(--token-4KHAOpqgh6Sk);
  row-gap: 0px;
  border-radius: var(--token-EjXa5pUqTGaF);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-a8sx5jtqOZlH);
  line-height: var(--token-CIfkGH6FyOef);
  column-gap: var(--token-EjXa5pUqTGaF);
  row-gap: 0px;
  border-radius: var(--token-EjXa5pUqTGaF);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-dXIzYFIz4hck);
  line-height: var(--token-uR72rpmmTgWQ);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-dXIzYFIz4hck);
  line-height: var(--token-uR72rpmmTgWQ);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-PmJlPnIa9nH-);
  border-radius: var(--token-qdcu4nmFcQwX);
}
.softBackgroundcolor_neutral {
  background: var(--token-w_wsyoiKHZtB);
}
.softBackgroundcolor_muted {
  background: var(--token-BzPDrrK176rf);
}
.softBackgroundcolor_success {
  background: var(--token-iatJB1657v5m);
}
.softBackgroundcolor_warning {
  background: var(--token-a7Z6EFZSZYlS);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-mVyAJyNijtlJ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-qdcu4nmFcQwX);
  border: 0px solid var(--token-0xBRK-dyhsXH);
}
.bordercolor_neutral {
  border-color: var(--token-jGSSJdbSZgOm);
}
.bordercolor_muted {
  border-color: var(--token-nJOInOOWma31);
}
.bordercolor_success {
  border-color: var(--token-HVBzw4M4zbtF);
}
.bordercolor_warning {
  border-color: var(--token-Dm0wvDLTohzk);
}
.bordercolor_errorDestructive {
  border-color: var(--token-MS0b7ewVFCcg);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-qdcu4nmFcQwX);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-dz4XuZihC6G1);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-c4FljqKX8K_S);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-etnFTanlpzT3);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__mYnul {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-qdcu4nmFcQwX) var(--token-LFyQspHQpjfI);
}
.freeBox__mYnul > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-qdcu4nmFcQwX));
  width: calc(100% + var(--token-qdcu4nmFcQwX));
}
.freeBox__mYnul > :global(.__wab_flex-container) > *,
.freeBox__mYnul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mYnul > :global(.__wab_flex-container) > picture > img,
.freeBox__mYnul
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-qdcu4nmFcQwX);
}
.freeBoxsize_extraSmall__mYnulU1U5Z {
  padding: var(--token-EjXa5pUqTGaF) var(--token-qdcu4nmFcQwX);
}
.freeBoxsize_small__mYnulf7AEz {
  padding: var(--token-qdcu4nmFcQwX) var(--token-45c67d3dhh74);
}
.freeBoxsize_large__mYnultr6Y1 {
  padding-top: var(--token-EjXa5pUqTGaF);
  padding-bottom: var(--token-EjXa5pUqTGaF);
}
.freeBoxsize_extraLarge__mYnulRnDM {
  padding-left: var(--token-SDWM6dMdXG7N);
  padding-right: var(--token-SDWM6dMdXG7N);
}
.freeBoxroundedFull__mYnulvSxEu {
  padding-right: var(--token-SDWM6dMdXG7N);
  padding-left: var(--token-SDWM6dMdXG7N);
}
.freeBox__nfZct {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__nfZcTgXcQz {
  display: flex;
}
.slotTargetStart {
  color: var(--token-2Ctd2K8oPZzJ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-ITYozFSgSsZA);
}
.slotTargetStartcolor_muted {
  color: var(--token-gGVg8l2IS1kc);
}
.slotTargetStartcolor_success {
  color: var(--token-HGA2y1RDNiDw);
}
.slotTargetStartcolor_warning {
  color: var(--token-qV2bQq8ozoNs);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Qelq77_J1ODd);
}
.slotTargetStarttype_soft {
  color: var(--token-vpsVLKbrc1Y4);
}
.slotTargetStarttype_bordered {
  color: var(--token-vpsVLKbrc1Y4);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-a8sx5jtqOZlH);
}
.slotTargetStartsize_small {
  font-size: var(--token-a8sx5jtqOZlH);
}
.slotTargetStartsize_large {
  font-size: var(--token-dXIzYFIz4hck);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-dXIzYFIz4hck);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-E_67pky4YOdr);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-E_67pky4YOdr);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-vqdpkpAwNI6n);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-vqdpkpAwNI6n);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-LdjnWz9QGUeD);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-LdjnWz9QGUeD);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-sUHL11fAr6dK);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-sUHL11fAr6dK);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-AL9Mg2Dw8Lio);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-AL9Mg2Dw8Lio);
}
.svg__mbH7P {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-2Ctd2K8oPZzJ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-ITYozFSgSsZA);
}
.slotTargetLabelcolor_muted {
  color: var(--token-gGVg8l2IS1kc);
}
.slotTargetLabelcolor_success {
  color: var(--token-HGA2y1RDNiDw);
}
.slotTargetLabelcolor_warning {
  color: var(--token-qV2bQq8ozoNs);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Qelq77_J1ODd);
}
.slotTargetLabeltype_soft {
  color: var(--token-vpsVLKbrc1Y4);
}
.slotTargetLabeltype_bordered {
  color: var(--token-vpsVLKbrc1Y4);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-E_67pky4YOdr);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-vqdpkpAwNI6n);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-E_67pky4YOdr);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-LdjnWz9QGUeD);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-vqdpkpAwNI6n);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-sUHL11fAr6dK);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-LdjnWz9QGUeD);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-AL9Mg2Dw8Lio);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-sUHL11fAr6dK);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-AL9Mg2Dw8Lio);
}
.text__pGBxf {
  white-space: pre;
}
.freeBox__isj5P {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__isj5PcjBry {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-2Ctd2K8oPZzJ);
}
.slotTargetEndcolor_neutral {
  color: var(--token-ITYozFSgSsZA);
}
.slotTargetEndcolor_muted {
  color: var(--token-gGVg8l2IS1kc);
}
.slotTargetEndcolor_success {
  color: var(--token-HGA2y1RDNiDw);
}
.slotTargetEndcolor_warning {
  color: var(--token-qV2bQq8ozoNs);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Qelq77_J1ODd);
}
.slotTargetEndtype_soft {
  color: var(--token-vpsVLKbrc1Y4);
}
.slotTargetEndtype_bordered {
  color: var(--token-vpsVLKbrc1Y4);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-a8sx5jtqOZlH);
}
.slotTargetEndsize_small {
  font-size: var(--token-a8sx5jtqOZlH);
}
.slotTargetEndsize_large {
  font-size: var(--token-dXIzYFIz4hck);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-dXIzYFIz4hck);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-E_67pky4YOdr);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-E_67pky4YOdr);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-vqdpkpAwNI6n);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-vqdpkpAwNI6n);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-LdjnWz9QGUeD);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-LdjnWz9QGUeD);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-sUHL11fAr6dK);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-sUHL11fAr6dK);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-AL9Mg2Dw8Lio);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-AL9Mg2Dw8Lio);
}
.svg__orp2D {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
