.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-dNXPU-KSyPvU);
  font-family: var(--token-CY6agac5Ue4P);
  font-size: var(--token-WfRlPBZ8MZoH);
  line-height: var(--token-DfV6jN3t_rVM);
  outline-style: none;
  border-radius: var(--token-qdcu4nmFcQwX);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-BzPDrrK176rf);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-PmJlPnIa9nH-);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-4KHAOpqgh6Sk);
  outline-color: var(--token-IH_uOz3on1I8);
  outline-offset: 1px;
}
.freeBox__uVdIk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-45c67d3dhh74) var(--token-LFyQspHQpjfI);
}
.freeBox__uVdIk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-4KHAOpqgh6Sk));
  height: calc(100% + var(--token-4KHAOpqgh6Sk));
}
.freeBox__uVdIk > :global(.__wab_flex-container) > *,
.freeBox__uVdIk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uVdIk > :global(.__wab_flex-container) > picture > img,
.freeBox__uVdIk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-4KHAOpqgh6Sk);
}
.freeBox__wKh3V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text___0FQj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-w0CE2NftP5GN);
  min-width: 0;
}
