.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-w0CE2NftP5GN);
  font-family: var(--token-CY6agac5Ue4P);
  font-size: var(--token-WfRlPBZ8MZoH);
  line-height: var(--token-DfV6jN3t_rVM);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
