.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-dNXPU-KSyPvU);
  font-family: var(--token-CY6agac5Ue4P);
  font-size: var(--token-WfRlPBZ8MZoH);
  line-height: var(--token-DfV6jN3t_rVM);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-EjXa5pUqTGaF));
  width: calc(100% + var(--token-EjXa5pUqTGaF));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-EjXa5pUqTGaF);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-a8sx5jtqOZlH);
  line-height: var(--token-CIfkGH6FyOef);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-dXIzYFIz4hck);
  line-height: var(--token-uR72rpmmTgWQ);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-w0CE2NftP5GN);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-chDfjOZrkCd2);
  display: block;
}
