.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  min-width: 0;
  row-gap: var(--token-EjXa5pUqTGaF);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox___5JCt1 {
  display: flex;
  flex-direction: column;
}
.freeBox__noaV9 {
  flex-direction: row;
  position: absolute;
  height: var(--token-LPANlEiYPT4H);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-qdcu4nmFcQwX) var(--token-LFyQspHQpjfI);
}
.freeBoxiconStart__noaV9B8Dcu {
  display: flex;
}
.slotTargetStart {
  color: var(--token-w0CE2NftP5GN);
}
.svg__lfgNb {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__gYwqn {
  height: var(--token-LPANlEiYPT4H);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-qdcu4nmFcQwX) var(--token-LFyQspHQpjfI);
}
.freeBoxiconEnd__gYwqnVSx1R {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-w0CE2NftP5GN);
}
.svg___61AqA {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
