.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-qHVRFvYBYHkg);
  font-family: var(--token-sYchVc0L-w7r);
  font-size: var(--token-WbhLgNRgbphP);
  line-height: var(--token-B6X1DMeMQQi3);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-NsWkyQ6bXBGk);
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox___96WWu {
  display: flex;
  position: relative;
  width: var(--token-a-5gSY9adWcN);
  height: var(--token-a-5gSY9adWcN);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-tGxdC79NNHNR);
}
.ariaRadio[data-selected] .freeBox___96WWu {
  background: var(--token-PbJVR-RRzCZY);
  border-color: var(--token-PbJVR-RRzCZY);
}
.ariaRadio[data-focus-visible] .freeBox___96WWu {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-PbJVR-RRzCZY);
  outline-width: 2px;
}
.freeBox__aYuFk {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__aYuFk {
  width: var(--token-Sjz6B8DrdZ2-);
  height: var(--token-Sjz6B8DrdZ2-);
  flex-shrink: 0;
  display: block;
}
