@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Manrope%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-6Gu8t1JePZYD: 1.25rem;
  --plasmic-token-size-20: var(--token-6Gu8t1JePZYD);
  --token-LKbpbCaKVZnt: #9ca3af;
  --plasmic-token-basic-ring: var(--token-LKbpbCaKVZnt);
  --token-8yxOZqR4QceG: #ffffff;
  --plasmic-token-unnamed-style-token-2: var(--token-8yxOZqR4QceG);
  --token--UDwApq8o1vS: var(--token-ErSfEE8gakVj);
  --plasmic-token-purple-500: var(--token--UDwApq8o1vS);
  --token-5Le1q5AshAwq: rgba(245, 239, 245, 1);
  --plasmic-token-purple-50: var(--token-5Le1q5AshAwq);
  --token-n6r9GFKppTHM: #ecdfec;
  --plasmic-token-purple-100: var(--token-n6r9GFKppTHM);
  --token-ErSfEE8gakVj: rgba(95, 58, 95, 1);
  --plasmic-token-purple-700: var(--token-ErSfEE8gakVj);
  --token-7ZwD4cy0QFxP: #b181b1;
  --plasmic-token-purple-400: var(--token-7ZwD4cy0QFxP);
  --token-Zq9R26vcFyxN: #7e4e7e;
  --plasmic-token-purple-600: var(--token-Zq9R26vcFyxN);
  --token-jiashfz0yeen: #f9f6f9;
  --plasmic-token-purple-25: var(--token-jiashfz0yeen);
  --token-kf7RCpqxnt6q: rgba(63, 39, 63, 1);
  --plasmic-token-purple-800: var(--token-kf7RCpqxnt6q);
  --token-HyrLwGFCYGUp: rgba(32, 19, 32, 1);
  --plasmic-token-purple-900: var(--token-HyrLwGFCYGUp);
  --token-N5WcMb7kTF6I: rgba(197, 160, 197, 1);
  --plasmic-token-purple-300: var(--token-N5WcMb7kTF6I);
  --token-9suY4y4xDfNB: rgba(216, 192, 216, 1);
  --plasmic-token-purple-200: var(--token-9suY4y4xDfNB);
  --token-0Wy7pzmpcU-V: #ea5886;
  --plasmic-token-pink-500: var(--token-0Wy7pzmpcU-V);
  --token-V_UHRLgC2efr: rgba(252, 232, 239, 1);
  --plasmic-token-pink-50: var(--token-V_UHRLgC2efr);
  --token-76zIQtoVGn9K: rgba(249, 210, 222, 1);
  --plasmic-token-pink-100: var(--token-76zIQtoVGn9K);
  --token-Nkh8PSyJ9l_C: rgba(244, 164, 189, 1);
  --plasmic-token-pink-200: var(--token-Nkh8PSyJ9l_C);
  --token-O-79B35WwmJ3: Inter;
  --plasmic-token-sifem-production-inter: var(--token-O-79B35WwmJ3);
  --token-PLmp-f6xIj_U: 2rem;
  --plasmic-token-size-32: var(--token-PLmp-f6xIj_U);
  --token-W_1Ho_BHGfsN: 1rem;
  --plasmic-token-size-16: var(--token-W_1Ho_BHGfsN);
  --token-7QFwUjhZyTmp: 0.5rem;
  --plasmic-token-size-8: var(--token-7QFwUjhZyTmp);
  --token-1P9TXzzveWNz: #030712;
  --plasmic-token-basic-text-primary: var(--token-1P9TXzzveWNz);
  --token-AF_I7JGu0JnG: Inter;
  --plasmic-token-sans-serif: var(--token-AF_I7JGu0JnG);
  --token-cfAy3JPjnb7j: 1rem;
  --plasmic-token-font-md: var(--token-cfAy3JPjnb7j);
  --token-J2x_m1XIWUMN: 1.25;
  --plasmic-token-line-height-md: var(--token-J2x_m1XIWUMN);
  --token-4b7r_htD715G: #2563eb;
  --plasmic-token-brand-brand: var(--token-4b7r_htD715G);
  --token-xhYNZmobL9Bu: 0.375rem;
  --plasmic-token-size-6: var(--token-xhYNZmobL9Bu);
  --token-NlxMT9wVCJEW: 0.25rem;
  --plasmic-token-size-4: var(--token-NlxMT9wVCJEW);
  --token-_hcow2H1_Bii: 0.75rem;
  --plasmic-token-font-sm: var(--token-_hcow2H1_Bii);
  --token-Snatk-8X2TRM: 1;
  --plasmic-token-line-height-sm: var(--token-Snatk-8X2TRM);
  --token-asOLFEF-ugnc: 1.25rem;
  --plasmic-token-font-lg: var(--token-asOLFEF-ugnc);
  --token-gb8E_9gH2ZZg: 1.4;
  --plasmic-token-line-height-lg: var(--token-gb8E_9gH2ZZg);
  --token-CvvcXruCHWNF: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-CvvcXruCHWNF);
  --token-_Rqu57G1IRB-: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-_Rqu57G1IRB-);
  --token-ykNrz9VwUqAS: 0.625rem;
  --plasmic-token-size-10: var(--token-ykNrz9VwUqAS);
  --token-AVKSecOfK_1l: #d1d5db;
  --plasmic-token-basic-border: var(--token-AVKSecOfK_1l);
  --token-LAZWwiiQgoRB: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-LAZWwiiQgoRB);
  --token-nViYZa9hGz8M: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-nViYZa9hGz8M);
  --token-2nSPzLgaOyfK: 0.125rem;
  --plasmic-token-size-2: var(--token-2nSPzLgaOyfK);
  --token-zbvwgRDCWzXC: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-zbvwgRDCWzXC);
  --token-otVtySgiLCZt: #ffffff;
  --plasmic-token-basic-container-background: var(--token-otVtySgiLCZt);
  --token-B6zwZ0JXCFgI: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-B6zwZ0JXCFgI);
  --token-EEZ7UlxN-RHa: 16px;
  --plasmic-token-medium-font-size: var(--token-EEZ7UlxN-RHa);
  --token-JRqSf7nQGwPv: 14px;
  --plasmic-token-small-font-size: var(--token-JRqSf7nQGwPv);
  --token-iBrHShIvtiNF: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-iBrHShIvtiNF);
  --token-Wdu1Whi0gKnM: 1.5rem;
  --plasmic-token-size-24: var(--token-Wdu1Whi0gKnM);
  --token-s9DOCYL2XHM7: 0.75rem;
  --plasmic-token-size-12: var(--token-s9DOCYL2XHM7);
  --token-Dh1P5DGFjlL0: #374151;
  --plasmic-token-neutral-neutral: var(--token-Dh1P5DGFjlL0);
  --token-tHnxcJSf6PiC: #6b7280;
  --plasmic-token-muted-muted: var(--token-tHnxcJSf6PiC);
  --token-rdPhw-I9RkTG: #16a34a;
  --plasmic-token-success-success: var(--token-rdPhw-I9RkTG);
  --token-pSbRtRIwHV7B: #facc15;
  --plasmic-token-warning-warning: var(--token-pSbRtRIwHV7B);
  --token-NKGfqpq7V1vP: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-NKGfqpq7V1vP);
  --token-8TAcWp3t0wlj: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-8TAcWp3t0wlj);
  --token-qgWHt5NfnLjE: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-qgWHt5NfnLjE);
  --token-EN7-3fcmEZa8: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-EN7-3fcmEZa8);
  --token-EzAXpX_hptSW: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-EzAXpX_hptSW);
  --token-f8UirvTf15QM: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-f8UirvTf15QM);
  --token-xyZKbPjCu3VE: #86efac;
  --plasmic-token-success-success-border: var(--token-xyZKbPjCu3VE);
  --token-YXrAe0lpQSIH: #fde047;
  --plasmic-token-warning-warning-border: var(--token-YXrAe0lpQSIH);
  --token-0JRTAORhRXEu: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-0JRTAORhRXEu);
  --token-SUmsmMXZndvZ: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-SUmsmMXZndvZ);
  --token-n70WRh5MIXLm: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-n70WRh5MIXLm);
  --token-n0iRrAsyOaGb: #00000033;
  --plasmic-token-interaction-pressed: var(--token-n0iRrAsyOaGb);
  --token-_lsQP7LR13av: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-_lsQP7LR13av);
  --token-21_jIY_YGfOB: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-21_jIY_YGfOB);
  --token-J-0unN82LaZ3: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-J-0unN82LaZ3);
  --token-6g5YpucLLXPZ: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-6g5YpucLLXPZ);
  --token-d07bIt8QdXFf: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-d07bIt8QdXFf);
  --token-tb-sKgNtaa5B: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-tb-sKgNtaa5B);
  --token-fzUakF0hagTQ: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-fzUakF0hagTQ);
  --token-ONwOo61kOFWl: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-ONwOo61kOFWl);
  --token-yITAhq6z8YSM: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-yITAhq6z8YSM);
  --token-4zg0vUhadk_n: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-4zg0vUhadk_n);
  --token-H2wVDHxOUBu_: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-H2wVDHxOUBu_);
  --token-JqCl327FXw6I: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-JqCl327FXw6I
  );
  --token-bDXZA2-6O7Ot: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-bDXZA2-6O7Ot);
}

.plasmic_tokens {
  --plsmc-standard-width: 100%;
  --plsmc-wide-width: 1080px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_locale_fr),
.plasmic_default_styles:where(.global_locale_en) {
  --mixin-2CCZ1qQXfqB5_font-family: "Inter", sans-serif;
  --mixin-2CCZ1qQXfqB5_font-size: 15px;
  --mixin-2CCZ1qQXfqB5_font-weight: 400;
  --mixin-2CCZ1qQXfqB5_font-style: normal;
  --mixin-2CCZ1qQXfqB5_color: var(--token--UDwApq8o1vS);
  --mixin-2CCZ1qQXfqB5_text-align: left;
  --mixin-2CCZ1qQXfqB5_text-transform: none;
  --mixin-2CCZ1qQXfqB5_line-height: 1.5;
  --mixin-2CCZ1qQXfqB5_letter-spacing: normal;
  --mixin-2CCZ1qQXfqB5_white-space: pre-wrap;
  --mixin-2CCZ1qQXfqB5_user-select: text;
  --mixin-2CCZ1qQXfqB5_text-decoration-line: none;
  --mixin-2CCZ1qQXfqB5_text-overflow: clip;
  --mixin-ToB71rHNzdg2_color: var(--token--UDwApq8o1vS);
  --mixin-ToB71rHNzdg2_font-weight: 700;
  --mixin-ToB71rHNzdg2_font-size: var(--token-EEZ7UlxN-RHa);
  --mixin-ToB71rHNzdg2_line-height: 1;
  --mixin-ToB71rHNzdg2_letter-spacing: normal;
  --mixin-ToB71rHNzdg2_text-transform: uppercase;
  --mixin-ToB71rHNzdg2_white-space: pre-wrap;
  --mixin-ZE4f-wt_-qS2_color: #000000;
  --mixin-ZE4f-wt_-qS2_font-size: 48px;
  --mixin-ZE4f-wt_-qS2_font-weight: 700;
  --mixin-ZE4f-wt_-qS2_letter-spacing: -0.5px;
  --mixin-ZE4f-wt_-qS2_line-height: 1.1;
  --mixin-ZE4f-wt_-qS2_white-space: pre-wrap;
  --mixin-oi346OR4VMh1_color: var(--token-7ZwD4cy0QFxP);
  --mixin-oi346OR4VMh1_font-size: var(--token-JRqSf7nQGwPv);
  --mixin-oi346OR4VMh1_cursor: pointer;
  --mixin-oi346OR4VMh1_white-space: pre-wrap;
  --mixin-TI_pBRQQBDQy_color: #000000;
  --mixin-TI_pBRQQBDQy_font-size: 32px;
  --mixin-TI_pBRQQBDQy_font-weight: 600;
  --mixin-TI_pBRQQBDQy_line-height: 1.2;
  --mixin-TI_pBRQQBDQy_white-space: pre-wrap;
  --mixin-AZGb_ivg2rPZ_color: #000000;
  --mixin-AZGb_ivg2rPZ_font-size: 24px;
  --mixin-AZGb_ivg2rPZ_font-weight: 600;
  --mixin-AZGb_ivg2rPZ_line-height: 1.3;
  --mixin-AZGb_ivg2rPZ_white-space: pre-wrap;
  --mixin-TXW6a_ym70zt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-TXW6a_ym70zt_border-bottom-color: #dddddd;
  --mixin-TXW6a_ym70zt_border-bottom-style: solid;
  --mixin-TXW6a_ym70zt_border-bottom-width: 1px;
  --mixin-TXW6a_ym70zt_border-left-color: #dddddd;
  --mixin-TXW6a_ym70zt_border-left-style: solid;
  --mixin-TXW6a_ym70zt_border-left-width: 1px;
  --mixin-TXW6a_ym70zt_border-right-color: #dddddd;
  --mixin-TXW6a_ym70zt_border-right-style: solid;
  --mixin-TXW6a_ym70zt_border-right-width: 1px;
  --mixin-TXW6a_ym70zt_border-top-color: #dddddd;
  --mixin-TXW6a_ym70zt_border-top-style: solid;
  --mixin-TXW6a_ym70zt_border-top-width: 1px;
  --mixin-TXW6a_ym70zt_border-bottom-left-radius: 3px;
  --mixin-TXW6a_ym70zt_border-bottom-right-radius: 3px;
  --mixin-TXW6a_ym70zt_border-top-left-radius: 3px;
  --mixin-TXW6a_ym70zt_border-top-right-radius: 3px;
  --mixin-TXW6a_ym70zt_font-family: "Inconsolata";
  --mixin-TXW6a_ym70zt_padding-bottom: 1px;
  --mixin-TXW6a_ym70zt_padding-left: 4px;
  --mixin-TXW6a_ym70zt_padding-right: 4px;
  --mixin-TXW6a_ym70zt_padding-top: 1px;
  --mixin-TXW6a_ym70zt_white-space: pre-wrap;
  --mixin-9HwwdinlkVOd_border-left-color: #dddddd;
  --mixin-9HwwdinlkVOd_border-left-style: solid;
  --mixin-9HwwdinlkVOd_border-left-width: 3px;
  --mixin-9HwwdinlkVOd_color: #888888;
  --mixin-9HwwdinlkVOd_padding-left: 10px;
  --mixin-9HwwdinlkVOd_white-space: pre-wrap;
  --mixin-z6yskJWCRlay_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-z6yskJWCRlay_border-bottom-color: #dddddd;
  --mixin-z6yskJWCRlay_border-bottom-style: solid;
  --mixin-z6yskJWCRlay_border-bottom-width: 1px;
  --mixin-z6yskJWCRlay_border-left-color: #dddddd;
  --mixin-z6yskJWCRlay_border-left-style: solid;
  --mixin-z6yskJWCRlay_border-left-width: 1px;
  --mixin-z6yskJWCRlay_border-right-color: #dddddd;
  --mixin-z6yskJWCRlay_border-right-style: solid;
  --mixin-z6yskJWCRlay_border-right-width: 1px;
  --mixin-z6yskJWCRlay_border-top-color: #dddddd;
  --mixin-z6yskJWCRlay_border-top-style: solid;
  --mixin-z6yskJWCRlay_border-top-width: 1px;
  --mixin-z6yskJWCRlay_border-bottom-left-radius: 3px;
  --mixin-z6yskJWCRlay_border-bottom-right-radius: 3px;
  --mixin-z6yskJWCRlay_border-top-left-radius: 3px;
  --mixin-z6yskJWCRlay_border-top-right-radius: 3px;
  --mixin-z6yskJWCRlay_font-family: "Inconsolata";
  --mixin-z6yskJWCRlay_padding-bottom: 3px;
  --mixin-z6yskJWCRlay_padding-left: 6px;
  --mixin-z6yskJWCRlay_padding-right: 6px;
  --mixin-z6yskJWCRlay_padding-top: 3px;
  --mixin-z6yskJWCRlay_white-space: pre-wrap;
  --mixin-hXa9K9JcToCg_display: flex;
  --mixin-hXa9K9JcToCg_flex-direction: column;
  --mixin-hXa9K9JcToCg_align-items: stretch;
  --mixin-hXa9K9JcToCg_justify-content: flex-start;
  --mixin-hXa9K9JcToCg_list-style-position: outside;
  --mixin-hXa9K9JcToCg_padding-left: 40px;
  --mixin-hXa9K9JcToCg_position: relative;
  --mixin-hXa9K9JcToCg_list-style-type: disc;
  --mixin-hXa9K9JcToCg_white-space: pre-wrap;
  --mixin-07naOTIonXH9_display: flex;
  --mixin-07naOTIonXH9_flex-direction: column;
  --mixin-07naOTIonXH9_align-items: stretch;
  --mixin-07naOTIonXH9_justify-content: flex-start;
  --mixin-07naOTIonXH9_list-style-position: outside;
  --mixin-07naOTIonXH9_padding-left: 40px;
  --mixin-07naOTIonXH9_position: relative;
  --mixin-07naOTIonXH9_list-style-type: decimal;
  --mixin-07naOTIonXH9_white-space: pre-wrap;
  --mixin-UzJiPlOv-_iJ_color: #000000;
  --mixin-UzJiPlOv-_iJ_font-size: 20px;
  --mixin-UzJiPlOv-_iJ_font-weight: 600;
  --mixin-UzJiPlOv-_iJ_line-height: 1.5;
  --mixin-UzJiPlOv-_iJ_white-space: pre-wrap;
  --mixin-g7Cwz3X3iCDo_color: #000000;
  --mixin-g7Cwz3X3iCDo_font-size: 16px;
  --mixin-g7Cwz3X3iCDo_font-weight: 600;
  --mixin-g7Cwz3X3iCDo_line-height: 1.5;
  --mixin-g7Cwz3X3iCDo_white-space: pre-wrap;
  --mixin-7krIZPChJQZu_color: #3291ff;
  --mixin-7krIZPChJQZu_white-space: pre-wrap;
  --mixin-bmOVZ1ou7fSY_white-space: pre-wrap;
  --mixin-dt7ecWbJf7W9_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_locale_fr),
.plasmic_mixins:where(.global_locale_en) {
  --mixin-HSG0sbVPm4sK_white-space: pre-wrap;
  --plasmic-mixin-tab_white-space: var(--mixin-HSG0sbVPm4sK_white-space);
  --mixin-tNuyC0wE7w8Z_white-space: pre-wrap;
  --plasmic-mixin-current_white-space: var(--mixin-tNuyC0wE7w8Z_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-2CCZ1qQXfqB5_font-family);
  font-size: var(--mixin-2CCZ1qQXfqB5_font-size);
  font-weight: var(--mixin-2CCZ1qQXfqB5_font-weight);
  font-style: var(--mixin-2CCZ1qQXfqB5_font-style);
  color: var(--mixin-2CCZ1qQXfqB5_color);
  text-align: var(--mixin-2CCZ1qQXfqB5_text-align);
  text-transform: var(--mixin-2CCZ1qQXfqB5_text-transform);
  line-height: var(--mixin-2CCZ1qQXfqB5_line-height);
  letter-spacing: var(--mixin-2CCZ1qQXfqB5_letter-spacing);
  white-space: var(--mixin-2CCZ1qQXfqB5_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ToB71rHNzdg2_color);
  font-weight: var(--mixin-ToB71rHNzdg2_font-weight);
  font-size: var(--mixin-ToB71rHNzdg2_font-size);
  line-height: var(--mixin-ToB71rHNzdg2_line-height);
  letter-spacing: var(--mixin-ToB71rHNzdg2_letter-spacing);
  text-transform: var(--mixin-ToB71rHNzdg2_text-transform);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ZE4f-wt_-qS2_color);
  font-size: var(--mixin-ZE4f-wt_-qS2_font-size);
  font-weight: var(--mixin-ZE4f-wt_-qS2_font-weight);
  letter-spacing: var(--mixin-ZE4f-wt_-qS2_letter-spacing);
  line-height: var(--mixin-ZE4f-wt_-qS2_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-oi346OR4VMh1_color);
  font-size: var(--mixin-oi346OR4VMh1_font-size);
  cursor: var(--mixin-oi346OR4VMh1_cursor);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-TI_pBRQQBDQy_color);
  font-size: var(--mixin-TI_pBRQQBDQy_font-size);
  font-weight: var(--mixin-TI_pBRQQBDQy_font-weight);
  line-height: var(--mixin-TI_pBRQQBDQy_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-AZGb_ivg2rPZ_color);
  font-size: var(--mixin-AZGb_ivg2rPZ_font-size);
  font-weight: var(--mixin-AZGb_ivg2rPZ_font-weight);
  line-height: var(--mixin-AZGb_ivg2rPZ_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-TXW6a_ym70zt_font-family);
  border-radius: var(--mixin-TXW6a_ym70zt_border-top-left-radius)
    var(--mixin-TXW6a_ym70zt_border-top-right-radius)
    var(--mixin-TXW6a_ym70zt_border-bottom-right-radius)
    var(--mixin-TXW6a_ym70zt_border-bottom-left-radius);
  padding: var(--mixin-TXW6a_ym70zt_padding-top)
    var(--mixin-TXW6a_ym70zt_padding-right)
    var(--mixin-TXW6a_ym70zt_padding-bottom)
    var(--mixin-TXW6a_ym70zt_padding-left);
  border-top: var(--mixin-TXW6a_ym70zt_border-top-width)
    var(--mixin-TXW6a_ym70zt_border-top-style)
    var(--mixin-TXW6a_ym70zt_border-top-color);
  border-right: var(--mixin-TXW6a_ym70zt_border-right-width)
    var(--mixin-TXW6a_ym70zt_border-right-style)
    var(--mixin-TXW6a_ym70zt_border-right-color);
  border-bottom: var(--mixin-TXW6a_ym70zt_border-bottom-width)
    var(--mixin-TXW6a_ym70zt_border-bottom-style)
    var(--mixin-TXW6a_ym70zt_border-bottom-color);
  border-left: var(--mixin-TXW6a_ym70zt_border-left-width)
    var(--mixin-TXW6a_ym70zt_border-left-style)
    var(--mixin-TXW6a_ym70zt_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-9HwwdinlkVOd_color);
  padding-left: var(--mixin-9HwwdinlkVOd_padding-left);
  border-left: var(--mixin-9HwwdinlkVOd_border-left-width)
    var(--mixin-9HwwdinlkVOd_border-left-style)
    var(--mixin-9HwwdinlkVOd_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-z6yskJWCRlay_font-family);
  border-radius: var(--mixin-z6yskJWCRlay_border-top-left-radius)
    var(--mixin-z6yskJWCRlay_border-top-right-radius)
    var(--mixin-z6yskJWCRlay_border-bottom-right-radius)
    var(--mixin-z6yskJWCRlay_border-bottom-left-radius);
  padding: var(--mixin-z6yskJWCRlay_padding-top)
    var(--mixin-z6yskJWCRlay_padding-right)
    var(--mixin-z6yskJWCRlay_padding-bottom)
    var(--mixin-z6yskJWCRlay_padding-left);
  border-top: var(--mixin-z6yskJWCRlay_border-top-width)
    var(--mixin-z6yskJWCRlay_border-top-style)
    var(--mixin-z6yskJWCRlay_border-top-color);
  border-right: var(--mixin-z6yskJWCRlay_border-right-width)
    var(--mixin-z6yskJWCRlay_border-right-style)
    var(--mixin-z6yskJWCRlay_border-right-color);
  border-bottom: var(--mixin-z6yskJWCRlay_border-bottom-width)
    var(--mixin-z6yskJWCRlay_border-bottom-style)
    var(--mixin-z6yskJWCRlay_border-bottom-color);
  border-left: var(--mixin-z6yskJWCRlay_border-left-width)
    var(--mixin-z6yskJWCRlay_border-left-style)
    var(--mixin-z6yskJWCRlay_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-hXa9K9JcToCg_display);
  flex-direction: var(--mixin-hXa9K9JcToCg_flex-direction);
  align-items: var(--mixin-hXa9K9JcToCg_align-items);
  justify-content: var(--mixin-hXa9K9JcToCg_justify-content);
  list-style-position: var(--mixin-hXa9K9JcToCg_list-style-position);
  padding-left: var(--mixin-hXa9K9JcToCg_padding-left);
  position: var(--mixin-hXa9K9JcToCg_position);
  list-style-type: var(--mixin-hXa9K9JcToCg_list-style-type);
  flex-column-gap: var(--mixin-hXa9K9JcToCg_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-07naOTIonXH9_display);
  flex-direction: var(--mixin-07naOTIonXH9_flex-direction);
  align-items: var(--mixin-07naOTIonXH9_align-items);
  justify-content: var(--mixin-07naOTIonXH9_justify-content);
  list-style-position: var(--mixin-07naOTIonXH9_list-style-position);
  padding-left: var(--mixin-07naOTIonXH9_padding-left);
  position: var(--mixin-07naOTIonXH9_position);
  list-style-type: var(--mixin-07naOTIonXH9_list-style-type);
  flex-column-gap: var(--mixin-07naOTIonXH9_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-UzJiPlOv-_iJ_color);
  font-size: var(--mixin-UzJiPlOv-_iJ_font-size);
  font-weight: var(--mixin-UzJiPlOv-_iJ_font-weight);
  line-height: var(--mixin-UzJiPlOv-_iJ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-g7Cwz3X3iCDo_color);
  font-size: var(--mixin-g7Cwz3X3iCDo_font-size);
  font-weight: var(--mixin-g7Cwz3X3iCDo_font-weight);
  line-height: var(--mixin-g7Cwz3X3iCDo_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-7krIZPChJQZu_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
