.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-qHVRFvYBYHkg);
  font-family: var(--token-sYchVc0L-w7r);
  font-size: var(--token-WbhLgNRgbphP);
  line-height: var(--token-B6X1DMeMQQi3);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-AkQXMF8MKILZ));
  width: calc(100% + var(--token-AkQXMF8MKILZ));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AkQXMF8MKILZ);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-nSS5Uwuu0mf7);
  line-height: var(--token-NnzI3H7JTNoC);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-HTDiiV5z4AtB);
  line-height: var(--token-F833AgcNaVMg);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-Vd27j6Ht4-yV);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-0w8AAs9FOgDL);
  display: block;
}
