.root {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  cursor: pointer;
  justify-content: flex-start;
  width: 100%;
  row-gap: 2px;
  min-width: 0;
}
.root___focusVisibleWithin {
  outline: none;
}
.root:focus-within {
  outline: none;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f5eff580;
  row-gap: 4px;
  min-width: 0;
  border-radius: 16px;
}
.contentisChecked {
  background: #fce8ef;
}
.mainCheck {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.left {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  column-gap: 16px;
  min-width: 0;
  padding: 16px;
}
.leftisChecked {
  background: none;
}
.icon {
  display: flex;
  transition-property: all;
  transition-duration: 0.2s;
  align-items: center;
  justify-content: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}
.root .icon___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px var(--token-f34cqqXpI8PR);
  outline: none;
  border-radius: 2px;
}
.root:focus-within .icon {
  box-shadow: 0px 0px 0px 3px var(--token-f34cqqXpI8PR);
  outline: none;
  border-radius: 2px;
}
.svg__h3MlO {
  position: relative;
  object-fit: cover;
  color: var(--token-e94l0VKiQzZm);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svgisChecked__h3MlOqPnWo {
  color: var(--token-0jYdBgF-UGsw);
}
.svgisIndeterminate__h3MlOeYhXl {
  color: var(--token-f34cqqXpI8PR);
}
.root .svg___focusVisibleWithin__h3MlOdMbkp {
  outline: none;
}
.root:focus-within .svg__h3MlO {
  outline: none;
}
.root:hover .svg__h3MlO {
  color: var(--token-t21D1JpkZmEE);
}
.rootisDisabled:hover .svgisDisabled__h3MlOu7D1G {
  color: #dbdbd7;
}
.rootisChecked:hover .svgisChecked__h3MlOqPnWo {
  color: var(--token-0jYdBgF-UGsw);
}
.rootisIndeterminate:hover .svgisIndeterminate__h3MlOeYhXl {
  color: var(--token-t21D1JpkZmEE);
}
.svg__lbOx {
  position: relative;
  object-fit: cover;
  color: var(--token-0jYdBgF-UGsw);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.svgisDisabled__lbOxU7D1G {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgisChecked__lbOxQPnWo {
  color: var(--token-0jYdBgF-UGsw);
}
.svgisIndeterminate__lbOxEYhXl {
  color: var(--token-f34cqqXpI8PR);
}
.root .svg___focusVisibleWithin__lbOxDMbkp {
  outline: none;
}
.root:focus-within .svg__lbOx {
  outline: none;
}
.root:hover .svg__lbOx {
  color: var(--token-t21D1JpkZmEE);
}
.rootisDisabled:hover .svgisDisabled__lbOxU7D1G {
  color: #dbdbd7;
}
.rootisChecked:hover .svgisChecked__lbOxQPnWo {
  color: #0081f1;
}
.rootisIndeterminate:hover .svgisIndeterminate__lbOxEYhXl {
  color: #0081f1;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.root .labelContainer___focusVisibleWithin {
  outline: none;
}
.root:focus-within .labelContainer {
  outline: none;
}
.slotTargetChildren {
  white-space: pre-wrap;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.freeBox__lugG3 {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
.img {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin: 16px;
}
.img > picture > img {
  object-fit: cover;
}
