.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-PbJVR-RRzCZY);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-NsWkyQ6bXBGk);
  font-family: var(--token-sYchVc0L-w7r);
  font-size: var(--token-WbhLgNRgbphP);
  line-height: var(--token-B6X1DMeMQQi3);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Sjz6B8DrdZ2-);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-0t1WuSGZYs9v);
  outline-offset: 1px;
  outline-color: var(--token-PbJVR-RRzCZY);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-KBqzRkF4zXFx);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-sJy2GivAsmnJ);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-9MCD45xukyzm);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-LJ1InNSTlss9);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-0w8AAs9FOgDL);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-NnzI3H7JTNoC);
  font-size: var(--token-nSS5Uwuu0mf7);
  column-gap: var(--token-0t1WuSGZYs9v);
  row-gap: 0px;
  border-radius: var(--token-AkQXMF8MKILZ);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-nSS5Uwuu0mf7);
  line-height: var(--token-NnzI3H7JTNoC);
  column-gap: var(--token-AkQXMF8MKILZ);
  row-gap: 0px;
  border-radius: var(--token-AkQXMF8MKILZ);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-HTDiiV5z4AtB);
  line-height: var(--token-F833AgcNaVMg);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-HTDiiV5z4AtB);
  line-height: var(--token-F833AgcNaVMg);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-WvxOSEWSO4EM);
  border-radius: var(--token-Sjz6B8DrdZ2-);
}
.softBackgroundcolor_neutral {
  background: var(--token-BuUeRS7_BcsW);
}
.softBackgroundcolor_muted {
  background: var(--token-3kOCCvbolFd5);
}
.softBackgroundcolor_success {
  background: var(--token-493LERHuIu2O);
}
.softBackgroundcolor_warning {
  background: var(--token-LX5j4jPcMbIw);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-QOMehAOZvW2f);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Sjz6B8DrdZ2-);
  border: 0px solid var(--token-YePbsGYCH45h);
}
.bordercolor_neutral {
  border-color: var(--token-70PtT3eznXpn);
}
.bordercolor_muted {
  border-color: var(--token-pgqYUbseR3xe);
}
.bordercolor_success {
  border-color: var(--token-JLMGus6eD3xJ);
}
.bordercolor_warning {
  border-color: var(--token-LwqDMscDhk07);
}
.bordercolor_errorDestructive {
  border-color: var(--token-pFuHq4EyEt56);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Sjz6B8DrdZ2-);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-YLOmDl9Aupuh);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-yvHCHu-_s5xi);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-EVeQSwx2Kc-M);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__yJCgt {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Sjz6B8DrdZ2-) var(--token-BArkO-InpcdJ);
}
.freeBox__yJCgt > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Sjz6B8DrdZ2-));
  width: calc(100% + var(--token-Sjz6B8DrdZ2-));
}
.freeBox__yJCgt > :global(.__wab_flex-container) > *,
.freeBox__yJCgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yJCgt > :global(.__wab_flex-container) > picture > img,
.freeBox__yJCgt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Sjz6B8DrdZ2-);
}
.freeBoxsize_extraSmall__yJCgtBstap {
  padding: var(--token-AkQXMF8MKILZ) var(--token-Sjz6B8DrdZ2-);
}
.freeBoxsize_small__yJCgtjSe9Z {
  padding: var(--token-Sjz6B8DrdZ2-) var(--token-NsWkyQ6bXBGk);
}
.freeBoxsize_large__yJCgtVDiIw {
  padding-top: var(--token-AkQXMF8MKILZ);
  padding-bottom: var(--token-AkQXMF8MKILZ);
}
.freeBoxsize_extraLarge__yJCgtHzZsm {
  padding-left: var(--token-oziib5lvPkRh);
  padding-right: var(--token-oziib5lvPkRh);
}
.freeBoxroundedFull__yJCgtWGLy {
  padding-right: var(--token-oziib5lvPkRh);
  padding-left: var(--token-oziib5lvPkRh);
}
.freeBox__o7UHg {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__o7UHgylF8 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-b4XYjI5osZA4);
}
.slotTargetStartcolor_neutral {
  color: var(--token-bb7kIQOGft6L);
}
.slotTargetStartcolor_muted {
  color: var(--token-U0P-vG4aWaoT);
}
.slotTargetStartcolor_success {
  color: var(--token-pxOLO1NPSrLD);
}
.slotTargetStartcolor_warning {
  color: var(--token-fMkWYboB8In0);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-N5noQgdXjLP6);
}
.slotTargetStarttype_soft {
  color: var(--token-UoPc0nmmu-9k);
}
.slotTargetStarttype_bordered {
  color: var(--token-UoPc0nmmu-9k);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-nSS5Uwuu0mf7);
}
.slotTargetStartsize_small {
  font-size: var(--token-nSS5Uwuu0mf7);
}
.slotTargetStartsize_large {
  font-size: var(--token-HTDiiV5z4AtB);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-HTDiiV5z4AtB);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-UwR-sS0MQQQS);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-UwR-sS0MQQQS);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-abx1pN4PpJjZ);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-abx1pN4PpJjZ);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-bm-3OxvZnMBO);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-bm-3OxvZnMBO);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-HUdHmjfXB-he);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-HUdHmjfXB-he);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-xi0g7pIW71Ey);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-xi0g7pIW71Ey);
}
.svg__t34If {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-b4XYjI5osZA4);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-bb7kIQOGft6L);
}
.slotTargetLabelcolor_muted {
  color: var(--token-U0P-vG4aWaoT);
}
.slotTargetLabelcolor_success {
  color: var(--token-pxOLO1NPSrLD);
}
.slotTargetLabelcolor_warning {
  color: var(--token-fMkWYboB8In0);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-N5noQgdXjLP6);
}
.slotTargetLabeltype_soft {
  color: var(--token-UoPc0nmmu-9k);
}
.slotTargetLabeltype_bordered {
  color: var(--token-UoPc0nmmu-9k);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-UwR-sS0MQQQS);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-abx1pN4PpJjZ);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-UwR-sS0MQQQS);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-bm-3OxvZnMBO);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-abx1pN4PpJjZ);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-HUdHmjfXB-he);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-bm-3OxvZnMBO);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-xi0g7pIW71Ey);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-HUdHmjfXB-he);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-xi0g7pIW71Ey);
}
.text___7AnLk {
  white-space: pre;
}
.freeBox___1S3SX {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___1S3SXvyP {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-b4XYjI5osZA4);
}
.slotTargetEndcolor_neutral {
  color: var(--token-bb7kIQOGft6L);
}
.slotTargetEndcolor_muted {
  color: var(--token-U0P-vG4aWaoT);
}
.slotTargetEndcolor_success {
  color: var(--token-pxOLO1NPSrLD);
}
.slotTargetEndcolor_warning {
  color: var(--token-fMkWYboB8In0);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-N5noQgdXjLP6);
}
.slotTargetEndtype_soft {
  color: var(--token-UoPc0nmmu-9k);
}
.slotTargetEndtype_bordered {
  color: var(--token-UoPc0nmmu-9k);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-nSS5Uwuu0mf7);
}
.slotTargetEndsize_small {
  font-size: var(--token-nSS5Uwuu0mf7);
}
.slotTargetEndsize_large {
  font-size: var(--token-HTDiiV5z4AtB);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-HTDiiV5z4AtB);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-UwR-sS0MQQQS);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-UwR-sS0MQQQS);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-abx1pN4PpJjZ);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-abx1pN4PpJjZ);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-bm-3OxvZnMBO);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-bm-3OxvZnMBO);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-HUdHmjfXB-he);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-HUdHmjfXB-he);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-xi0g7pIW71Ey);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-xi0g7pIW71Ey);
}
.svg__auyG5 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
