.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-4b7r_htD715G);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-7QFwUjhZyTmp);
  font-family: var(--token-AF_I7JGu0JnG);
  font-size: var(--token-cfAy3JPjnb7j);
  line-height: var(--token-J2x_m1XIWUMN);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-xhYNZmobL9Bu);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-2nSPzLgaOyfK);
  outline-offset: 1px;
  outline-color: var(--token-4b7r_htD715G);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-Dh1P5DGFjlL0);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-tHnxcJSf6PiC);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-rdPhw-I9RkTG);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-pSbRtRIwHV7B);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-_Rqu57G1IRB-);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Snatk-8X2TRM);
  font-size: var(--token-_hcow2H1_Bii);
  column-gap: var(--token-2nSPzLgaOyfK);
  row-gap: 0px;
  border-radius: var(--token-NlxMT9wVCJEW);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-_hcow2H1_Bii);
  line-height: var(--token-Snatk-8X2TRM);
  column-gap: var(--token-NlxMT9wVCJEW);
  row-gap: 0px;
  border-radius: var(--token-NlxMT9wVCJEW);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-asOLFEF-ugnc);
  line-height: var(--token-gb8E_9gH2ZZg);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-asOLFEF-ugnc);
  line-height: var(--token-gb8E_9gH2ZZg);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-zbvwgRDCWzXC);
  border-radius: var(--token-xhYNZmobL9Bu);
}
.softBackgroundcolor_neutral {
  background: var(--token-NKGfqpq7V1vP);
}
.softBackgroundcolor_muted {
  background: var(--token-LAZWwiiQgoRB);
}
.softBackgroundcolor_success {
  background: var(--token-8TAcWp3t0wlj);
}
.softBackgroundcolor_warning {
  background: var(--token-qgWHt5NfnLjE);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-EN7-3fcmEZa8);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-xhYNZmobL9Bu);
  border: 0px solid var(--token-EzAXpX_hptSW);
}
.bordercolor_neutral {
  border-color: var(--token-f8UirvTf15QM);
}
.bordercolor_muted {
  border-color: var(--token-B6zwZ0JXCFgI);
}
.bordercolor_success {
  border-color: var(--token-xyZKbPjCu3VE);
}
.bordercolor_warning {
  border-color: var(--token-YXrAe0lpQSIH);
}
.bordercolor_errorDestructive {
  border-color: var(--token-0JRTAORhRXEu);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-xhYNZmobL9Bu);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-SUmsmMXZndvZ);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-n70WRh5MIXLm);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-n0iRrAsyOaGb);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__pSdDq {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-xhYNZmobL9Bu) var(--token-ykNrz9VwUqAS);
}
.freeBox__pSdDq > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-xhYNZmobL9Bu));
  width: calc(100% + var(--token-xhYNZmobL9Bu));
}
.freeBox__pSdDq > :global(.__wab_flex-container) > *,
.freeBox__pSdDq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pSdDq > :global(.__wab_flex-container) > picture > img,
.freeBox__pSdDq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-xhYNZmobL9Bu);
}
.freeBoxsize_extraSmall__pSdDqyLGbZ {
  padding: var(--token-NlxMT9wVCJEW) var(--token-xhYNZmobL9Bu);
}
.freeBoxsize_small__pSdDqY2CGg {
  padding: var(--token-xhYNZmobL9Bu) var(--token-7QFwUjhZyTmp);
}
.freeBoxsize_large__pSdDqpmjMv {
  padding-top: var(--token-NlxMT9wVCJEW);
  padding-bottom: var(--token-NlxMT9wVCJEW);
}
.freeBoxsize_extraLarge__pSdDqaCc3 {
  padding-left: var(--token-s9DOCYL2XHM7);
  padding-right: var(--token-s9DOCYL2XHM7);
}
.freeBoxroundedFull__pSdDqhWlew {
  padding-right: var(--token-s9DOCYL2XHM7);
  padding-left: var(--token-s9DOCYL2XHM7);
}
.freeBox__jD9A {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__jD9AJnDN {
  display: flex;
}
.slotTargetStart {
  color: var(--token-_lsQP7LR13av);
}
.slotTargetStartcolor_neutral {
  color: var(--token-21_jIY_YGfOB);
}
.slotTargetStartcolor_muted {
  color: var(--token-J-0unN82LaZ3);
}
.slotTargetStartcolor_success {
  color: var(--token-tb-sKgNtaa5B);
}
.slotTargetStartcolor_warning {
  color: var(--token-d07bIt8QdXFf);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-fzUakF0hagTQ);
}
.slotTargetStarttype_soft {
  color: var(--token-6g5YpucLLXPZ);
}
.slotTargetStarttype_bordered {
  color: var(--token-6g5YpucLLXPZ);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-_hcow2H1_Bii);
}
.slotTargetStartsize_small {
  font-size: var(--token-_hcow2H1_Bii);
}
.slotTargetStartsize_large {
  font-size: var(--token-asOLFEF-ugnc);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-asOLFEF-ugnc);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-ONwOo61kOFWl);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-ONwOo61kOFWl);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-yITAhq6z8YSM);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-yITAhq6z8YSM);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-4zg0vUhadk_n);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-4zg0vUhadk_n);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-H2wVDHxOUBu_);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-H2wVDHxOUBu_);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-JqCl327FXw6I);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-JqCl327FXw6I);
}
.svg___5Ewap {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-_lsQP7LR13av);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-21_jIY_YGfOB);
}
.slotTargetLabelcolor_muted {
  color: var(--token-J-0unN82LaZ3);
}
.slotTargetLabelcolor_success {
  color: var(--token-tb-sKgNtaa5B);
}
.slotTargetLabelcolor_warning {
  color: var(--token-d07bIt8QdXFf);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-fzUakF0hagTQ);
}
.slotTargetLabeltype_soft {
  color: var(--token-6g5YpucLLXPZ);
}
.slotTargetLabeltype_bordered {
  color: var(--token-6g5YpucLLXPZ);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-ONwOo61kOFWl);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-yITAhq6z8YSM);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-ONwOo61kOFWl);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-4zg0vUhadk_n);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-yITAhq6z8YSM);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-H2wVDHxOUBu_);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-4zg0vUhadk_n);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-JqCl327FXw6I);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-H2wVDHxOUBu_);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-JqCl327FXw6I);
}
.text__iyQs1 {
  white-space: pre;
}
.freeBox__vf9HQ {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__vf9HQuk4A4 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-_lsQP7LR13av);
}
.slotTargetEndcolor_neutral {
  color: var(--token-21_jIY_YGfOB);
}
.slotTargetEndcolor_muted {
  color: var(--token-J-0unN82LaZ3);
}
.slotTargetEndcolor_success {
  color: var(--token-tb-sKgNtaa5B);
}
.slotTargetEndcolor_warning {
  color: var(--token-d07bIt8QdXFf);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-fzUakF0hagTQ);
}
.slotTargetEndtype_soft {
  color: var(--token-6g5YpucLLXPZ);
}
.slotTargetEndtype_bordered {
  color: var(--token-6g5YpucLLXPZ);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-_hcow2H1_Bii);
}
.slotTargetEndsize_small {
  font-size: var(--token-_hcow2H1_Bii);
}
.slotTargetEndsize_large {
  font-size: var(--token-asOLFEF-ugnc);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-asOLFEF-ugnc);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-ONwOo61kOFWl);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-ONwOo61kOFWl);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-yITAhq6z8YSM);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-yITAhq6z8YSM);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-4zg0vUhadk_n);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-4zg0vUhadk_n);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-H2wVDHxOUBu_);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-H2wVDHxOUBu_);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-JqCl327FXw6I);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-JqCl327FXw6I);
}
.svg__y6PPe {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
